<ion-modal-view class="login-bg">

    <ion-content class="login">

        <h3>Login</h3>
        <form>
            <input ng-model="login.email" type="text" name="text" placeholder=" Email" required="required" />
            <input ng-model="login.password" type="password" name="password" placeholder=" Password" required="required" />
            <button ng-click="login.login()" class="btn btn-primary btn-block btn-large">Login</button>
      		<a class="btn btn-primary btn-block btn-large" ui-sref="client.payment">Client</a> 
    </ion-content>

</ion-modal-view>

