<ion-modal-view class="login-bg" ng-init="info.checkUser()">
    <button ng-click="info.back()" class="btn btn-primary navigation-button-padding"><</button>
    <!--<div ng-show="merchant.loader" class="loader"></div>-->
    <ion-content class="content">

        <h3>User information</h3>
        <div class="panel">
            <form>
                <input ng-model="info.accountNumber" type="text" placeholder="Account number">
                <button ng-click="info.updateUser()" class="btn btn-primary btn-block btn-large button-margin">
                    Update user</button>
            </form>
        </div>

    </ion-content>

</ion-modal-view>

